.mySelector {
    height: 40px;
    width: 35%;
    background-color: gainsboro;
    border-radius: 5px;
}

.myTextInput {
    height: 30px;
    width: 300px;
}

.resultDisplay {
    color: royalblue;
    align-content: center;
}

.getRateButton {
    height: 30px;
    width: 100px;
    background-color: greenyellow;
}



#exchange{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 0 20px;
    outline: 0;
    color: #00539CFF;
    border: 4px solid #FFD662FF;

}

#exchange:active, button:active {
	transform: scale(0.9);
}
