{% extends './layout.html' %}

<script src="scripts/bmiCalculator.js"></script>
<style>
    
</style>


{% block body %}

    <h1> Body Mass Index (BMI) Calculator by T0mi </h1>
    <p></p>
    <h3> Your BMI is: <h2 id="bmiResult"></h2> </h3>
    <p id="resultDescription"></p>
    <p></p>
    <input id="bmiHeight" type="text" placeholder="Enter your height in cm">
    <input id="bmiWeight" type="text" placeholder="Enter your weight in KG">
    <input id="bmiButton" type="button" value="Calculate BMI">
    

{% endblock %}